**/.DS_Store
**/.mdb
*.vsix

.git
.idea
.vscode
.vs

node_modules/
out/
packages/

AppDomainClient/
debugger-libs/
external/
MonoDebug/
MonoDevelop.Debugger.Soft.Unity/
nrefactory/
Screenshots/
TestApp/
Tests/
typescript/
UnityDebug/

Makefile
package-lock.json
Publish.txt
VSCode-UnityDebug.sln*
webpack.config.js